<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cs.mapper.NewsMapper">
    <!--//查询新闻表所有记录 select * from news-->
    <select id="findAllNews" resultType="News">
        select * from news
    </select>

    <!--//查询新闻表所有信息的总记录数 select count(*) from news-->
    <select id="findByNewsCount" resultType="int">
        select count(*) from news
    </select>

        <!--修改新闻ID为XX的新闻标题和新闻内容 -->
        <update id="updateNews" parameterType="news">
    		update news set
    		newTitle = #{newTitle},newsContent = #{newsContent}
    		where newsID = #{newsID}
        </update>

    <!--删除新闻ID为XX的新闻-->
    <delete id="deleteNews" parameterType="int">
        delete from news where newsID = #{newsID}
    </delete>

    <!--添加新闻-->
    <insert id="addNews" parameterType="news">
        insert into news
        (newTitle,newsContent,sendDate,userID,topID)
        value
        (#{newTitle},#{newsContent},#{sendDate},#{userID},#{topID})
    </insert>

<!--    &lt;!&ndash;查询新闻标题编号在5,6,7的新闻信息 数组传值&ndash;&gt;-->
<!--    <select id="find1" resultType="News">-->
<!--        select * from news-->
<!--        <where>-->
<!--            <foreach collection="array" item="newsID" open="newsID in (" close=")" separator=",">-->
<!--                #{newsID}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </select>-->

<!--    &lt;!&ndash;查询新闻标题编号在5,6,7的新闻信息 集合传值&ndash;&gt;-->
<!--    <select id="find2" resultType="News">-->
<!--        select * from news-->
<!--        <where>-->
<!--            <foreach collection="list" item="newsID" open="newsID in (" close=")" separator=",">-->
<!--                #{newsID}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </select>-->
<!--    &lt;!&ndash;查询新闻标题编号在5,6,7的新闻信息 Map传值&ndash;&gt;-->
<!--    <select id="find3" resultType="News">-->
<!--        select * from news-->
<!--        <where>-->
<!--            <foreach collection="aa" item="newsID" open="newsID in (" close=")" separator=",">-->
<!--                #{newsID}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </select>-->
</mapper>