<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cs.mapper.TopTitleMapper">
    <!--//查询标题表所有记录 select * from toptitle-->
    <select id="findAllTopTitle" resultType="TopTitle">
        select * from toptitle
    </select>
</mapper>